.statistics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
}

.title{
    align-self: center;
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.statList{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
    background-color: thistle;
}

